{% ckan_extends %}

{% block content %}
  {{ super() }}

 
  {% asset 'demo/demo' %}

  {# Apply our JavaScript module to an HTML element. The data-module attribute,
    which can be applied to any HTML element, tells CKAN to initialize an
    instance of the named JavaScript module for the element.
    The initialize() method of our module will be called with this HTML
    element as its this.el object. #}
  <button data-module="demo_popover"
          class="btn"
          href="#">
    <i class="fa fa-info-circle"></i>
  </button>
{% endblock %}

